<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>financechkradvSrchnotequalstoOperator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>financechkrrangeOperator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>financechkrlessThanEqualsToOperator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>financechkradvSrcgreaterThanEqualsToOperator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>financechkrgreaterThanOperator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>financechkrlessThanOperator</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logintoAramexAppliction</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
