<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:21:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinanceChkrAdvSrchDiffOperatorTest.logintoAramexAppliction()[pri:0, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">&gt;&gt;logintoAramexAppliction</td> 
<td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:13</td>   <td>42440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinanceChkrAdvSrchDiffOperatorTest.financechkrrangeOperator()[pri:1, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">financechkrrangeOperator</td> 
  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:49</td>   <td>78005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinanceChkrAdvSrchDiffOperatorTest.logintoAramexAppliction()[pri:0, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">&gt;&gt;logintoAramexAppliction</td> 
<td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:54</td>   <td>83353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinanceChkrAdvSrchDiffOperatorTest.financechkradvSrcgreaterThanEqualsToOperator()[pri:2, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">financechkradvSrcgreaterThanEqualsToOperator</td> 
  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:54</td>   <td>83368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinanceChkrAdvSrchDiffOperatorTest.logintoAramexAppliction()[pri:0, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">&gt;&gt;logintoAramexAppliction</td> 
<td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:54</td>   <td>83370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinanceChkrAdvSrchDiffOperatorTest.financechkrlessThanEqualsToOperator()[pri:3, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">financechkrlessThanEqualsToOperator</td> 
  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:54</td>   <td>83385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinanceChkrAdvSrchDiffOperatorTest.logintoAramexAppliction()[pri:0, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">&gt;&gt;logintoAramexAppliction</td> 
<td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:54</td>   <td>83388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinanceChkrAdvSrchDiffOperatorTest.financechkrlessThanOperator()[pri:4, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">financechkrlessThanOperator</td> 
  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:54</td>   <td>83405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinanceChkrAdvSrchDiffOperatorTest.logintoAramexAppliction()[pri:0, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">&gt;&gt;logintoAramexAppliction</td> 
<td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:54</td>   <td>83408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinanceChkrAdvSrchDiffOperatorTest.financechkrgreaterThanOperator()[pri:5, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">financechkrgreaterThanOperator</td> 
  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:54</td>   <td>83417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinanceChkrAdvSrchDiffOperatorTest.logintoAramexAppliction()[pri:0, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">&gt;&gt;logintoAramexAppliction</td> 
<td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/04 02:22:54</td>   <td>83419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinanceChkrAdvSrchDiffOperatorTest.financechkradvSrchnotequalstoOperator()[pri:6, instance:com.aramex.tests.FinanceChkrAdvSrchDiffOperatorTest@7a36aefa]">financechkradvSrchnotequalstoOperator</td> 
  <td>main@912011468</td>   <td></td> </tr>
</table>
